body {
    background-color: #D3F3FF;
    font-family: verdana;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.main-btn {
    background-color: #FF7B7B;
    width: 100%;
}

.title {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 400;
}

.input-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0;
    border: none;
    background-color: #d9d9d9;
    border-radius: 5px;
} .login-link {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    color: blue;
    text-decoration: none;
} .login-link:hover {
    text-decoration: underline;
}

.enter {
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
} header h2 {
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-add, .btn-logout {
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.gmail {
    background-color: white;
    width: 300px;
    border-spacing: 30px 0px;
    padding-left: 15px;
}

.btn-edit {
    background-color: #33aaff;
    margin-right: 10px;
} .btn-delete {
    background-color: #ff6666;
}

table {
    border-spacing: 0 15px;
}